
// _______ Colors _________________


// Red
$color-red: #ED5B56;

// Yellow
$color-yellow: #edb930;


// White
$color-white: #FFFFFF;
// Gray
$color-gray: #eee;


// Blue
$color-blue: #5e3ed2;
$color-dark-blue: #321d6e;
$color-blue-2: #422b93;
$color-purple: #8672db;


// Black
$color-black: #000000;


$breakpoint-tablet: 1024px;
$breakpoint-hd: 1366px;
$breakpoint-hd-plus: 1440px;
$breakpoint-full-hd: 1919px;



